{{define "page-title"}}Signup{{end}}

{{define "page-body"}}
<form action="/user/signup" method="POST" nonvalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  {{with .Form}}
    <div>
      <label>Username:</label>
      {{with .Failures.Name}}
        <label class="error">{{.}}</label>
      {{end}}
      <input type="text" name="name" value="{{.Name}}">
    </div>
    <div>
      <label>Password:</label>
      {{with .Failures.Password}}
        <label class="error">{{.}}</label>
      {{end}}
      <input type="password" name="password">
    </div>
    <div>
      <label>Reenter Password:</label>
      {{with .Failures.RePassword}}
        <label class="error">{{.}}</label>
      {{end}}
      <input type="password" name="repassword">
    </div>
    <div>
      <input type="submit" value="Signup">
    </div>
  {{end}}
</form>
{{end}}
