<h1>Editing {{.Title}}</h1>

<table style="width:100%">
  <tr>
    <th>Device ID</th>
    <th>Name</th>
    <th>Team</th>
    <th>Owner</th>
    <th>Location</th>
    <th>Interface</th>
  </tr>
  <div>
    {{range .Devices}}
    <tr>
      <td>{{.DeviceID}}</td>
      <td>{{.Name}}</td>
      <td>{{.Team}}</td>
      <td>{{.Owner}}</td>
      <td>{{.Location}}</td>
      <td>
      {{range $intName, $intMap := .Interfaces}}
        <b>{{$intName}}</b><br>
        {{range $mac, $ipList := $intMap}}
        <b>{{$mac}}</b><br>
          {{range $index, $ip := $ipList}}
        <b>
            {{if $index}},{{end}}
            {{$ip}}
        </b>
          {{end}}
        {{end}}
      {{end}}
      </td>
    </tr>
    {{end}}
  </div>
</table>
